@font-face {
    font-family: "Lilita One (KINGFONT)";
    font-style: normal;
    font-weight: 400;
    src: url("./LilitaOne-Regular.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0100-024F;
}